
.panel-default>.panel-heading {
	
    color: yellow;
    background-color: blue;
    border-color: #ddd;
}
.container{
	margin-top: 20px;
	height: 100%
}
.panel-body{
	font-size: 20px;
	font-weight: bold;
}
.crystalGameDescription{
	text-align: justify;
}
body{
	background-image: url(../images/diagmonds.png);
	font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.submit:hover,
.play:hover{
    background-color: blue;
}
span{
    font-size: 60px;
    border: 1 px solid #ddd;
}
p{
    font-size: 25px;
    font-weight: bold;
}
.Question,
p{
    margin:40px 20px;
}
.submit,
.play{
    margin-bottom:30px;
    font-size: 25px;
}